h1 {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    margin: 8px 0 8px 0;
}

#main-div {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#left-div, #mid-div, #right-div {
    height: 100%;
}

/* LEFT DIV */

#left-div {
    width: 210px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.10);
    position: relative;
    z-index: 999;
}

#logo-div {
    width: 100%;
    height: 96px;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-div .logo {
    max-height: 90%;
    max-width: 90%;
}

#menu-div {
    width: 210px;
    height: 100%;
}

#menu {
    font-family: "Roboto";
    font-size: 20px;
    list-style: none;
    margin-top: 82px;
    padding-left: 26px;
}

#menu img {
    margin-right: 21px;
}

#menu li {
    display: flex;
    align-items: center;
    margin: 23px 0 23px 0;
    color: #D1D1D1;
}

#menu .selected {
    color: black;
}

#menu .link {
    text-decoration: none;
}

/* MID DIV */

#mid-div {
    width: 100%;
}

#search-div {
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
}

#search-div .page-title {
    padding: 0 42px 0 100px;
    border-right: 1px solid #1200FB;
}

#search-div .search-bar {
    width: 100%;
    margin: 0 100px 0 42px;
    border: none;
    font-family: "Roboto";
    font-size: 14px;
    color: #1200FB;
}

#search-div .search-bar::placeholder {
    font-family: "Roboto";
    font-size: 14px;
    color: #CFCCFE;
}

#search-div .search-bar:focus{
    outline: none;
}

#content-div {
    background-color: #F7F7FF;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* RIGHT DIV */

#right-div {
    width: 350px;
}

#user-div {
    width: 100%;
    height: 96px;
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-div .user-picture {
    border-radius: 50%;
    border: 1px solid #D1D1D1;
    height: 42px;
    width: 42px;
    margin: 10px;
}

#user-div .infos {
    display: flex;
    flex-direction: column;
}

#user-div .infos .name {
    font-family: "Roboto";
    font-size: 18px;
}

#user-div .infos .role {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
    color: #909090;
}

#operations-div h1 {
    margin: 40px 20px 8px 20px;
}

#operations-div .operation {
    margin: 24px 20px 24px 20px;
    border-radius: 8px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.10);
    padding: 5px 13px 5px 13px;
    display: flex;
    flex-direction: column;
}

#operations-div .operation span {
    font-family: "Roboto";
    font-size: 12px;
    margin: 4px;
}

#operations-div .operation .green {
    color: #28A745;
}